In [1]:
# insert photo or image here, TOC

### Single Christmas Random Forest and Multiple Christmas Random Forest

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import metrics
import numpy as np

In [2]:
XmasSoo = pd.read_csv(r"DATA\SooChristmas.csv")

In [3]:
#It's possible by using this dataset with multiples of one day that I could introduce bias into a model... 

XmasAll = pd.read_csv(r"DATA\UPNorthChristmas.csv")

In [13]:
XmasAll.head()

   Unnamed: 0        Date  MaxTemp  MinTemp  Precip  Snowfall  SnowDepth
0        1454  12/25/1945     25.0     18.0    0.12       1.7        8.0
1        1805  12/25/1946     20.0     13.0    0.22       4.5        9.0
2        3084  12/25/1950     11.0     -7.0    0.00       0.4       14.0
3        3449  12/25/1951     17.0    -16.0    0.00       0.0       11.0
4        3815  12/25/1952     37.0     30.0    0.05       0.8        1.0

#### Single Soo Christmas only dataset first

In [4]:
XmasSoo.shape

(74, 8)

In [5]:
XmasSoo.head()

,Unnamed: 0,Date,AvgTemp,MaxTemp,MinTemp,Precip,Snowfall,SnowDepth
0,359,12/25/1948,NaN,3.0,-10.0,0.00,0.0,10.0
1,724,12/25/1949,NaN,37.0,12.0,0.00,0.0,3.0
2,1089,12/25/1950,NaN,4.0,-8.0,0.00,0.0,21.0
3,1454,12/25/1951,NaN,20.0,-10.0,0.00,0.0,12.0
4,1820,12/25/1952,NaN,33.0,29.0,0.06,0.6,0.0

In [6]:
# use the value_counts() method to get a count of the values in the 'Snowfall' column
counts = XmasSoo['Snowfall'].value_counts()

# print the count for 0.0
print(counts[0.0])

23

In [12]:
# percentage of no snowfall on Christmas Day 

(23/74) * 100

31.08108108108108

In [13]:
# percentage of years there is new snowfall on Christmas Day 

100-31

69

In [15]:
XmasSoo.MaxTemp.value_counts()

26.0    7
35.0    5
36.0    4
25.0    4
24.0    4
21.0    4
27.0    4
16.0    3
28.0    3
20.0    3
30.0    3
32.0    3
37.0    3
9.0     2
23.0    2
29.0    2
13.0    2
34.0    2
18.0    2
33.0    2
22.0    1
8.0     1
43.0    1
3.0     1
2.0     1
12.0    1
47.0    1
4.0     1
39.0    1
Name: MaxTemp, dtype: int64

In [19]:
XmasSoo.query("SnowDepth >= 12").count()

Unnamed: 0    24
Date          24
AvgTemp        3
MaxTemp       23
MinTemp       23
Precip        24
Snowfall      24
SnowDepth     24
dtype: int64

#### There were 12 years of the 74 which had a depth of 12 inches or more by Christmas Day.