What follows is recorded weather data for Sault Ste. Marie, Michigan for January 1, 1942 through November 28, 2022. 
Original data can be found [here](https://www.ncei.noaa.gov/access/past-weather/49783) . 

We'll be isolating just December 25 in this notebook and saving that to a CSV file for use in a supervised machine learning notebook.

In [19]:
# Import the necessary modules
import pandas as pd
from datetime import datetime
import seaborn as sns

In [20]:
#import all weather station files 

 # Create list of CSV file names for each weather station located in Chippewa County, Michigan. Weather stations just across the river in Ontario, Canada are not included in this dataset.
allsnow = ['..\DATA\Dunbar.csv', '..\DATA\Kincheloe AFB.csv', '..\DATA\Kinross.csv', '..\DATA\Rudyard.csv','..\DATA\SSM 7-1SSW.csv','..\DATA\SSM.csv','..\DATA\SSM2-1E.csv','..\DATA\SSM7-8SE.csv', '..\DATA\Sault-Weather.csv']

In [21]:
allsnow = pd.concat((pd.read_csv(i) for i in allsnow)).reset_index(drop = True) # Import the weather station files, stack them together and reset the index for the new row order. 
allsnow.head()

,Date,AvgTemp,MaxTemp,MinTemp,Precip,Snowfall,SnowDepth,Unnamed: 7
0,1/1/1942,NaN,27.0,6.0,0.06,1.0,5.0,NaN
1,1/2/1942,NaN,20.0,3.0,0.66,8.0,13.0,NaN
2,1/3/1942,NaN,9.0,-6.0,0.01,0.5,NaN,NaN
3,1/4/1942,NaN,17.0,-9.0,0.00,0.1,NaN,NaN
4,1/5/1942,NaN,10.0,-16.0,0.00,0.0,NaN,NaN

In [22]:
allsnow.tail()

,Date,AvgTemp,MaxTemp,MinTemp,Precip,Snowfall,SnowDepth,Unnamed: 7
70726,11/24/2022,37.0,46.0,31.0,0.05,0.0,2.0,NaN
70727,11/25/2022,39.0,39.0,29.0,0.01,0.0,0.0,NaN
70728,11/26/2022,40.0,51.0,29.0,0.00,0.0,0.0,NaN
70729,11/27/2022,40.0,42.0,34.0,0.00,0.0,0.0,NaN
70730,11/28/2022,35.0,35.0,26.0,0.00,0.0,0.0,NaN

In [23]:
allsnow.drop('Unnamed: 7', axis=1, inplace= True)

In [24]:
allsnow.shape

(70731, 7)

In [25]:
allsnow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70731 entries, 0 to 70730
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       70731 non-null  object
 1   AvgTemp    6130 non-null   float64
 2   MaxTemp    67601 non-null  float64
 3   MinTemp    67229 non-null  float64
 4   Precip     70557 non-null  float64
 5   Snowfall   68801 non-null  float64
 6   SnowDepth  66675 non-null  float64
dtypes: float64(6), object(1)
memory usage: 3.8+ MB

In [26]:
allsnow = allsnow.drop('AvgTemp', axis= 1)

In [27]:
allsnow.isnull().sum()

Date            0
MaxTemp      3130
MinTemp      3502
Precip        174
Snowfall     1930
SnowDepth    4056
dtype: int64

In [28]:
allsnow = allsnow.dropna(axis = 0)
allsnow.isnull().sum()

Date         0
MaxTemp      0
MinTemp      0
Precip       0
Snowfall     0
SnowDepth    0
dtype: int64

In [29]:
allsnow.shape

(64369, 6)

 From Margaret Martinez
https://sparkbyexamples.com/pandas/pandas-filter-dataframe-rows-on-dates/

In [ ]:
# df2 = df[(df['Date'] > "2020-09-20") & (df['Date'] < "2021-11-17")]

# Filter by a single date
#df2 = df[df['Date'].dt.strftime('%Y-%m-%d') == "2021-10-08"]

In [30]:
allsnow.head()

         Date  MaxTemp  MinTemp  Precip  Snowfall  SnowDepth
0    1/1/1942     27.0      6.0    0.06       1.0        5.0
1    1/2/1942     20.0      3.0    0.66       8.0       13.0
10  1/11/1942     16.0     -6.0    0.07       1.8       16.0
13  1/14/1942     33.0      8.0    0.02       0.5       14.0
14  1/15/1942     32.0      2.0    0.10       1.8       15.0

In [31]:
Xmas = allsnow[allsnow["Date"].str.contains("12/25/")]

In [32]:
Xmas.head()

            Date  MaxTemp  MinTemp  Precip  Snowfall  SnowDepth
1454  12/25/1945     25.0     18.0    0.12       1.7        8.0
1805  12/25/1946     20.0     13.0    0.22       4.5        9.0
3084  12/25/1950     11.0     -7.0    0.00       0.4       14.0
3449  12/25/1951     17.0    -16.0    0.00       0.0       11.0
3815  12/25/1952     37.0     30.0    0.05       0.8        1.0

In [34]:
#saving this to CSV
Xmas.to_csv(r"..\DATA\UPNorthChristmas.csv")

## How many white Christmases have there been?  


With some amount of snow on the ground for some six months out of the year, it's not a stretch to say there will or won't be a so-called white Christmas. I wanted to see how many times over the years there was a blanket of fresh snowfall on Christmas Day -

In [ ]:
Xmas.describe()

In [16]:
len(Xmas)
#DataFrame.to_markdown()

167

In [18]:
pd.set_option('display.max_rows', None)  
print(Xmas)

#it's following the year output for each concatenated weather station dataset, starting over with the earliest year and counting up, for each dataset. 
#so which weather station gets precedence, to have its data represented for Christmas Day?

             Date  MaxTemp  MinTemp  Precip  Snowfall  SnowDepth
1454   12/25/1945     25.0     18.0    0.12       1.7        8.0
1805   12/25/1946     20.0     13.0    0.22       4.5        9.0
3084   12/25/1950     11.0     -7.0    0.00       0.4       14.0
3449   12/25/1951     17.0    -16.0    0.00       0.0       11.0
3815   12/25/1952     37.0     30.0    0.05       0.8        1.0
4180   12/25/1953     41.0     31.0    0.00       0.0        0.0
4545   12/25/1954     36.0     16.0    0.00       0.0        4.0
4910   12/25/1955     36.0     19.0    0.01       0.4       13.0
5276   12/25/1956     26.0     -1.0    0.00       0.0        9.0
5641   12/25/1957     36.0     17.0    0.30       3.0        3.0
6006   12/25/1958     10.0    -18.0    0.00       0.0       19.0
6371   12/25/1959     33.0     21.0    0.03       0.6        4.0
6737   12/25/1960     28.0     19.0    0.08       1.1        8.0
7102   12/25/1961     32.0      2.0    0.00       0.0       12.0
7832   12/25/1963     32.0     17.0    0.09       2.0       11.0
8198   12/25/1964     29.0     23.0    0.00       0.0       15.0
8563   12/25/1965     29.0      9.0    0.00       0.0        3.0
8928   12/25/1966     18.0      9.0    0.00       0.0        4.0
9293   12/25/1967     25.0     15.0    0.22       3.2        7.0
10024  12/25/1969     25.0      9.0    0.06       2.0       10.0
10389  12/25/1970     25.0     16.0    0.12       2.8       14.0
11120  12/25/1972     25.0     16.0    0.00       0.0       13.0
11485  12/25/1973     33.0      9.0    0.69       4.0        6.0
11850  12/25/1974     29.0     19.0    0.04       0.4       10.0
12215  12/25/1975     27.0     25.0    0.06       0.1        3.0
12581  12/25/1976     27.0     19.0    0.07       1.2       16.0
12946  12/25/1977     32.0     10.0    0.47       6.7       12.0
13311  12/25/1978     33.0     21.0    0.03       0.4       18.0
13676  12/25/1979     34.0     21.0    0.00       0.0        5.0
14042  12/25/1980      5.0    -23.0    0.05       1.5       17.0
14771  12/25/1982     39.0     34.0    0.39       0.0        0.0
15501  12/25/1984     16.0     -1.0    0.00       0.0        4.0
15866  12/25/1985      1.0    -20.0    0.00       0.0       18.0
16231  12/25/1986     36.0     31.0    0.00       0.0        4.0
16596  12/25/1987     35.0     29.0    0.09       1.1        5.0
16962  12/25/1988     35.0     14.0    0.00       0.0        6.0
17327  12/25/1989     20.0     12.0    0.00       0.2       14.0
17831  12/25/1953     40.0     30.0    0.01       0.1        4.0
18196  12/25/1954     37.0     21.0    0.00       0.0        2.0
18561  12/25/1955     30.0     20.0    0.14       1.4       20.0
18927  12/25/1956     21.0      5.0    0.00       0.0        5.0
19292  12/25/1957     34.0     20.0    0.37       3.7        0.0
20022  12/25/1959     29.0     18.0    0.00       0.0        3.0
20388  12/25/1960     27.0     18.0    0.59       5.9       10.0
20753  12/25/1961     27.0     12.0    0.00       0.0       17.0
21118  12/25/1962     21.0      7.0    0.10       3.7       15.0
21483  12/25/1963     24.0     18.0    0.09       1.7       19.0
21849  12/25/1964     28.0     22.0    0.01       0.0       12.0
22214  12/25/1965     20.0      6.0    0.00       0.0        3.0
22579  12/25/1966     17.0      7.0    0.00       0.0        8.0
23310  12/25/1968      1.0    -22.0    0.01       0.1       19.0
23675  12/25/1969     25.0     13.0    0.04       0.3       12.0
24040  12/25/1970     26.0     11.0    0.22       4.6       12.0
24405  12/25/1971     31.0      1.0    0.19       4.2        5.0
24771  12/25/1972     31.0     18.0    0.12       1.8       14.0
25136  12/25/1973     34.0     21.0    0.98       5.5        6.0
25501  12/25/1974     25.0     15.0    0.08       1.5       15.0
25866  12/25/1975     27.0     22.0    0.04       0.1        5.0
26232  12/25/1976     24.0     14.0    0.02       0.9       22.0
26689  12/25/2002     30.0     20.0    0.00       0.0        2.0
27054  12/25/2003     29.0     23.0    0.67       8.0       18.0
27420  12/25/2004     10.0    -22.0    0.05       1.0       18.0
27785  12/25/2011     33.0     21.0    0.00       0.0        1.0
28150  12/25/2012     26.0     20.0    0.00       0.0        6.0
28440  12/25/2013     15.0    -26.0    0.15       1.5       14.0
28805  12/25/2014     35.0     32.0    0.11       0.0        4.0
29170  12/25/2015     37.0     29.0    0.00       0.0        0.0
29536  12/25/2016     37.0     13.0    0.00       0.0       10.0
29901  12/25/2017     23.0     -2.0    0.00       0.0        8.0
30240  12/25/2018     28.0      9.0    0.00       0.0        3.0
30604  12/25/2019     34.0     25.0    0.00       0.0        4.0
30970  12/25/2020     28.0     12.0    0.00       0.0        0.0
31303  12/25/2021     39.0     31.0    0.32       0.0        0.0
32355  12/25/1998     15.0      3.0    0.00       0.0        8.0
32720  12/25/1999     18.0    -10.0    0.02       0.5        5.0
33086  12/25/2000      8.0     -9.0    0.00       0.0       14.0
33451  12/25/2001     32.0     17.0    0.10       3.0        4.0
33816  12/25/2002     31.0     11.0    0.06       0.6        7.0
34181  12/25/2003     25.0     19.0    0.21       4.1       13.0
34547  12/25/2004      4.0    -18.0    0.03       0.3       16.0
34912  12/25/2005     34.0     32.0    0.05       0.4       10.0
35277  12/25/2006     39.0     26.0    0.00       0.0        0.0
35642  12/25/2007     30.0     22.0    0.00       0.0        4.0
36008  12/25/2008     28.0     18.0    0.39       5.1       18.0
36373  12/25/2009     28.0     15.0    0.00       0.0       10.0
36738  12/25/2010     26.0      2.0    0.00       0.0        8.0
37103  12/25/2011     32.0     21.0    0.03       0.4        2.0
37469  12/25/2012     27.0     20.0    0.02       0.5       10.0
37834  12/25/2013     12.0    -17.0    0.08       1.0       14.0
38199  12/25/2014     36.0     32.0    0.08       0.1       10.0
38564  12/25/2015     38.0     31.0    0.00       0.0        0.0
38930  12/25/2016     37.0     11.0    0.00       0.0       10.0
39295  12/25/2017     22.0      3.0    0.02       0.4       10.0
39660  12/25/2018     27.0     18.0    0.00       0.0        6.0
40025  12/25/2019     32.0     22.0    0.00       0.0        9.0
40391  12/25/2020     30.0     14.0    0.04       0.7        3.0
40756  12/25/2021     37.0     31.0    0.30       0.0        8.0
43729  12/25/1948      3.0    -10.0    0.00       0.0       10.0
44094  12/25/1949     37.0     12.0    0.00       0.0        3.0
44459  12/25/1950      4.0     -8.0    0.00       0.0       21.0
44824  12/25/1951     20.0    -10.0    0.00       0.0       12.0
45190  12/25/1952     33.0     29.0    0.06       0.6        0.0
45555  12/25/1953     37.0     30.0    0.17       1.3        1.0
45920  12/25/1954     36.0     15.0    0.01       0.0        3.0
46285  12/25/1955     30.0     18.0    0.02       0.3       13.0
46651  12/25/1956     18.0      4.0    0.00       0.0       10.0
47016  12/25/1957     34.0     19.0    0.42       4.2        1.0
47381  12/25/1958     13.0    -11.0    0.00       0.0       23.0
47746  12/25/1959     32.0     20.0    0.01       0.1        4.0
48112  12/25/1960     26.0     19.0    0.02       0.2       12.0
48477  12/25/1961     30.0     10.0    0.01       0.1       14.0
48842  12/25/1962     21.0     11.0    0.21       2.7        9.0
49207  12/25/1963     27.0     16.0    0.08       2.4       13.0
49573  12/25/1964     29.0     21.0    0.01       0.2       16.0
49938  12/25/1965     21.0      7.0    0.00       0.0        5.0
50303  12/25/1966     16.0      8.0    0.00       0.0        5.0
51399  12/25/1969     21.0     10.0    0.05       1.0       10.0
51764  12/25/1970     23.0     14.0    0.19       2.6       14.0
52129  12/25/1971     24.0     -3.0    0.32       3.7        4.0
52495  12/25/1972     26.0     16.0    0.22       2.4        9.0
52860  12/25/1973     35.0     17.0    0.62       3.3        4.0
53225  12/25/1974     23.0     11.0    0.06       1.0       16.0
53590  12/25/1975     27.0     22.0    0.05       0.2        3.0
53956  12/25/1976     26.0     17.0    0.07       1.7       21.0
54321  12/25/1977     25.0      5.0    0.28       5.9       16.0
54686  12/25/1978     27.0     18.0    0.06       1.6       21.0
55051  12/25/1979     29.0     18.0    0.00       0.0        4.0
55417  12/25/1980      9.0    -25.0    0.01       0.3       28.0
55782  12/25/1981     25.0      5.0    0.02       0.3        3.0
56147  12/25/1982     47.0     26.0    0.05       0.0        2.0
56512  12/25/1983      9.0    -13.0    0.03       1.0       21.0
56878  12/25/1984     12.0     -3.0    0.07       1.2       10.0
57243  12/25/1985      2.0    -17.0    0.00       0.0       22.0
57608  12/25/1986     34.0     32.0    0.04       0.3        6.0
57973  12/25/1987     32.0     21.0    0.06       1.3       10.0
58339  12/25/1988     25.0     15.0    0.11       1.9        9.0
58704  12/25/1989     22.0     -1.0    0.24       4.3       14.0
59069  12/25/1990     18.0      1.0    0.09       1.4        6.0
59434  12/25/1991     24.0      2.0    0.00       0.0        8.0
59800  12/25/1992     25.0      7.0    0.55       8.0        9.0
60165  12/25/1993     13.0    -23.0    0.20       4.8        8.0
60530  12/25/1994     43.0     23.0    0.00       0.0        0.0
61261  12/25/1996     16.0     -3.0    0.05       0.4       17.0
61626  12/25/1997     35.0     30.0    0.01       0.2        2.0
61991  12/25/1998     27.0      3.0    0.00       0.0        8.0
62356  12/25/1999     32.0     13.0    0.01       0.1        6.0
62722  12/25/2000     16.0     -6.0    0.00       0.0       14.0
63087  12/25/2001     24.0     18.0    0.08       3.0        4.0
63452  12/25/2002     30.0     16.0    0.00       0.6        7.0
63817  12/25/2003     26.0     21.0    0.10       4.1       13.0
64548  12/25/2005     36.0     29.0    0.00       0.0       10.0
64913  12/25/2006     35.0     30.0    0.01       0.1        0.0
65278  12/25/2007     33.0     27.0    0.00       0.0        4.0
65644  12/25/2008     26.0     15.0    0.05       1.6       18.0
66009  12/25/2009     36.0     26.0    0.04       0.1       10.0
66374  12/25/2010     28.0     11.0    0.00       0.0        8.0
66739  12/25/2011     35.0     21.0    0.07       0.6        2.0
67105  12/25/2012     26.0     19.0    0.00       0.1       10.0
67470  12/25/2013     20.0     -2.0    0.19       2.9       14.2
67835  12/25/2014     37.0     33.0    0.02       0.1        9.8
68200  12/25/2015     36.0     31.0    0.00       0.0        0.0
68566  12/25/2016     28.0     12.0    0.01       0.0        9.8
68931  12/25/2017     20.0      3.0    0.22       3.7        9.8
69296  12/25/2018     28.0     20.0    0.01       0.1        5.9
69661  12/25/2019     35.0     32.0    0.00       0.0        9.1
70027  12/25/2020     21.0     15.0    0.00       0.5        3.9
70392  12/25/2021     39.0     31.0    0.00       0.0        7.1